<div ng-show="volunteerCtrl.areThereVolunteers()"><div class="panel panel-default volunteer-container">
  <div class="panel-heading">Search for a specific volunteer:</div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-md-2">
          <label class="control-label">Name</label>
        </div>

        <div class="col-md-4">
          <input type="search" ng-model="search.firstName" placeholder="First name" class="form-control" />
        </div>

        <div class="col-md-4">
          <input type="search" ng-model="search.lastName" placeholder="Last name" class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2">
          <label class="control-label">Role</label>
        </div>

        <div class="col-md-3">
          <div class="checkbox">
            <label><input type="radio" ng-model="search.isJudge" ng-value="" /> All</label>
          </div>
        </div>

        <div class="col-md-3">
          <div class="checkbox">
            <label><input type="radio" ng-model="search.isJudge" ng-value="true" /> Judging</label>
          </div>
        </div>

        <div class="col-md-3">
          <div class="checkbox">
            <label><input type="radio" ng-model="search.isJudge" ng-value="false" /> Non-judging</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2">
          <label class="control-label">Job Status</label>
        </div>

        <div class="col-md-3">
          <div class="checkbox">
            <label><input type="radio" ng-model="search.slots" ng-value="" /> All</label>
          </div>
        </div>

        <div class="col-md-3">
          <div class="checkbox">
            <label><input type="radio" ng-model="search.slots" ng-value="'!'" /> Unassigned</label>
          </div>
        </div>

        <div class="col-md-3">
          <div class="checkbox">
            <label><input type="radio" ng-model="search.slots" ng-value="'!!'" /> Assigned</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br /></div>
<div class="panel panel-default volunteer-container">
  <div class="panel-heading">List of all volunteers:
    <div class="pull-right"><a href="/volunteers/create">Add a volunteer</a></div>
  </div>
  <div class="list-group">
    <div class="list-group-item no-padding" ng-repeat="volunteer in volunteerCtrl.data | filter: search | orderBy: 'lastName'">
      <a ng-href="/volunteers/{{volunteer._id}}" class="group-item">{{ volunteer.firstName }} {{ volunteer.lastName }}</a>
      <a ng-click="" ng-show="volunteer.hasSchedule" ng-href="/volunteers/schedule/{{volunteer._id}}"  class="btn btn-sm btn-success group-item-calendar"><span class="glyphicon glyphicon-list"></span></a>
      <a ng-click="volunteerCtrl.email([volunteer])" target="_blank" class="btn btn-sm btn-primary group-item-mail"><span class="glyphicon glyphicon-envelope"></span></a>
      <a ng-click="volunteerCtrl.removeVolunteer(volunteer)" ng-href="" class="btn btn-sm btn-danger group-item-remove"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
  </div>
  <div class="panel-body" ng-hide="volunteerCtrl.areThereVolunteers()">There are currently no entered volunteers.</div>
</div>
